html, body { height: 100%; }

body {
    background-color: #000b1c;
    color: #e5e5e5;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    width: 100%;
}

.user-select {
    -moz-user-select: text;
    -webkit-user-select: text;
    user-select: text;
}
.no-user-select {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#body {
    display: grid;
    gap: 16px;
    grid-template-areas:
        "header header"
        "input output"
        "footer footer";
    grid-template-columns: 50% 50%;
    margin: 0 auto;
    max-width: 1000px;
}

#header {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-area: header;
}
#header .lang-selection,
#header .header-right {
    display: flex;
    flex-direction: row;
}
#header .lang-selection .lang-selection-item {
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    margin-left: 8px;
    padding: 8px;
}
#lang-de:checked ~ #body label[for="lang-de"],
#lang-en:checked ~ #body label[for="lang-en"] {
    background-color: #00ff62;
    color: #000000;
    cursor: default;
}
#header .header-right #calculate_btn {
    background-color: #ffaa00;
    border: none;
    border-radius: 4px;
    color: #000000;
    cursor: pointer;
    display: block;
    margin-right: 32px;
}

.column > h2 {
    display: block;
    margin: 0 0 16px 0;
    text-align: center;
    width: 100%;
}
.column > #calculate_btn {
    margin: 16px 0 0 auto;
}
#input {
    grid-area: input;
}
#output {
    grid-area: output;
}

.box {
    background-color: #002e75;
    border-radius: 4px;
    box-shadow: 0 0 8px #333;
    box-sizing: border-box;
    padding: 8px;
}
.box + .box {
    margin-top: 16px;
}
.box .row {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 8px 0;
    width: 100%;
}
.box .row.header {
    box-sizing: border-box;
    margin: 4px 0 16px 0;
    justify-content: space-between;
}
.box .row.header h3 {
    margin: 0 0 0 4px;
}
.box .box-collapse-b ~ .row.header .box-collapse-f:before {
    background-color: transparent;
    border-radius: 4px;
    content: "?";
    cursor: pointer;
    font-weight: bold;
    margin: 0;
    padding: 4px 8px;
}
.box .box-collapse-b ~ .row.header .box-collapse-f:before {
    content: "+";
}
.box .box-collapse-b:checked ~ .row.header .box-collapse-f:before {
    content: "-";
}
.box .box-collapse-b ~ .row.header .box-collapse-f:hover:before {
    background-color: rgba(255,255,255,0.3);
}
.box .box-collapse-b:not(:checked) ~ .row:not(.header) {
    display: none;
}
.box .box-collapse-b:not(:checked) ~ .row.header {
    margin-bottom: 4px;
}
.box .row > .row {
    margin: 8px 0 0 0;
}
.box .row .checkbox_placeholder {
    margin: 0 4px;
    visibility: hidden;
}
.box .row input[type="checkbox"]:not(.checkbox_placeholder):first-child:not(:checked) ~ *,
.box .row input[type="radio"]:first-child:not(:checked) ~ * {
    opacity: 0.5;
}
.box .row input[type="number"] {
    align-self: flex-end;
    margin: 0 0 0 auto;
    width: 40%;
}
.box input {
    background-color: #000b1c;
    border: none;
    border-radius: 4px;
    box-shadow: none;
    color: #e5e5e5;
    padding: 8px;
}
.box .row.divider {
    border-top: 1px dotted #e5e5e5;
    margin: 0;
}
.box .row.space {
    height: 16px;
    margin: 0;
}
.box .row .out-label {
    width: 70%;
}
.box .row .out-label[data-sign="none"]::before {
    content: "\00a0\00a0";
}
.box .row .out-label[data-sign="minus"]::before {
    content: "- ";
}
.box .row .out-label[data-sign="plus"]::before {
    content: "+ ";
}
.box .row .out-value {
    width: 30%;
}
.box .row .out-value {
    text-align: right;
}

#footer {
    grid-area: footer;
    margin: 16px 0;
}

.hidden {display: none; }
#lang-de:checked ~ #body [lang]:not([lang="de"]) { display: none; }
#lang-en:checked ~ #body [lang]:not([lang="en"]) { display: none; }
