:root {
    --body-bg-color: #000b1c;
    --box-bg-color: #002e75;
    --input-bg-color: #000b1c;
    --fg-color: #e5e5e5;
}

html, body { height: 100%; }

body {
    background-color: var(--body-bg-color);
    color: var(--fg-color);
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    width: 100%;
}

.user-select {
    -moz-user-select: text;
    -webkit-user-select: text;
    user-select: text;
}
.no-user-select {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.hidden {display: none; }

#body {
    display: grid;
    gap: 16px;
    grid-template-areas:
        "header header"
        "input output"
        "footer footer";
    grid-template-columns: 50% 50%;
    margin: 0 auto;
    max-width: 1000px;
}

#header {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-area: header;
}
#header .lang-selection,
#header .header-right {
    display: flex;
    flex-direction: row;
}
#header .lang-selection .lang-selection-item {
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    margin-left: 8px;
    padding: 8px;
}
#lang-de:checked ~ #body label[for="lang-de"],
#lang-en:checked ~ #body label[for="lang-en"] {
    background-color: #00ff62;
    color: #000000;
    cursor: default;
}
#header .header-right #calculate_btn {
    background-color: #ffaa00;
    border: none;
    border-radius: 4px;
    color: #000000;
    cursor: pointer;
    display: block;
    margin-right: 32px;
}

.column > h2 {
    display: block;
    margin: 0 0 16px 0;
    text-align: center;
    width: 100%;
}
.column > #calculate_btn {
    margin: 16px 0 0 auto;
}
#input {
    grid-area: input;
}
#output {
    grid-area: output;
}

.box {
    background-color: var(--box-bg-color);
    border-radius: 4px;
    box-shadow: 0 0 8px #333;
    box-sizing: border-box;
    padding: 8px;
}
.box + .box {
    margin-top: 16px;
}
.box .row {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 8px 0;
    width: 100%;
}
.box .row.header {
    box-sizing: border-box;
    margin: 4px 0 16px 0;
    justify-content: space-between;
}
.box .row.header h3 {
    margin: 0 0 0 4px;
}
.box .box-collapse-b ~ .row.header .box-collapse-f:before {
    background-color: transparent;
    border-radius: 4px;
    content: "?";
    cursor: pointer;
    font-weight: bold;
    margin: 0;
    padding: 4px 8px;
}
.box .box-collapse-b ~ .row.header .box-collapse-f:before {
    content: "+";
}
.box .box-collapse-b:checked ~ .row.header .box-collapse-f:before {
    content: "-";
}
.box .box-collapse-b ~ .row.header .box-collapse-f:hover:before {
    background-color: rgba(255,255,255,0.3);
}
.box .box-collapse-b:not(:checked) ~ .row:not(.header) {
    display: none;
}
.box .box-collapse-b:not(:checked) ~ .row.header {
    margin-bottom: 4px;
}
.box .row > .row {
    margin: 8px 0 0 0;
}
.box .row input[type="checkbox"]:not(.checkbox_placeholder):first-child:not(:checked) ~ *,
.box .row input[type="radio"]:first-child:not(:checked) ~ * {
    opacity: 0.5;
}
.box .row input[type="checkbox"] {
    display: none;
}
.box .row .checkbox {
    background-color: var(--input-bg-color);
    border: 2px solid var(--fg-color);
    border-radius: 4px;
    box-sizing: border-box;
    height: 16px;
    margin: 0 8px 0 0;
    position: relative;
    width: 16px;
}
.box .row input[type="checkbox"]:checked + .checkbox::before,
.box .row input[type="checkbox"]:checked + .checkbox::after {
    background-color: var(--fg-color);
    border-radius: 2px;
    content: "";
    height: 2px;
    left: 6px;
    position: absolute;
    top: 6px;
    width: 8px;
}
.box .row input[type="checkbox"]:checked + .checkbox::before {
    transform: translate(-50%, -50%) rotate(-45deg);
}
.box .row input[type="checkbox"]:checked + .checkbox::after {
    transform: translate(-50%, -50%) rotate(45deg);
}
.box .row .checkbox.placeholder {
    visibility: hidden;
}
.box .row input[type="radio"] {
    display: none;
}
.box .row .radio {
    background-color: var(--input-bg-color);
    border: 2px solid var(--fg-color);
    border-radius: 100%;
    box-sizing: border-box;
    height: 16px;
    margin: 0 8px 0 0;
    position: relative;
    width: 16px;
}
.box .row input[type="radio"]:checked + .radio::after {
    background-color: var(--fg-color);
    border-radius: 100%;
    content: "";
    height: 8px;
    left: 2px;
    position: absolute;
    top: 2px;
    width: 8px;
}
.box .row input[type="number"] {
    align-self: flex-end;
    margin: 0 0 0 auto;
    width: 40%;
}
.box input {
    background-color: var(--input-bg-color);
    border: none;
    border-radius: 4px;
    box-shadow: none;
    color: var(--fg-color);
    padding: 8px;
}
.box .row.divider {
    border-top: 1px dotted var(--fg-color);
    margin: 0;
}
.box .row.space {
    height: 16px;
    margin: 0;
}
.box .row .out-label {
    width: 70%;
}
.box .row .out-label[data-sign="none"]::before {
    content: "\00a0\00a0";
}
.box .row .out-label[data-sign="minus"]::before {
    content: "- ";
}
.box .row .out-label[data-sign="plus"]::before {
    content: "+ ";
}
.box .row .out-value {
    width: 30%;
}
.box .row .out-value {
    text-align: right;
}

#footer {
    grid-area: footer;
    margin: 16px 0;
}

#lang-de:checked ~ #body [lang]:not([lang="de"]) { display: none; }
#lang-en:checked ~ #body [lang]:not([lang="en"]) { display: none; }

@media only screen and (max-width: 1100px) {
    body {
        position: relative;
    }

    #body {
        gap: 0px;
        grid-template-areas:
            "header header"
            "input input"
            "output output"
            "footer footer";
        margin-top: 64px;
        width: 95%;
        max-width: 95%;
    }

    #header {
        background-color: var(--body-bg-color);
        left: 0;
        padding: 0 2.5%;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
    }

    #header h1 {
        font-size: 1.6em;
    }

    #input, #output {
        margin: 16px 0;
    }
}
